
.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 250px;
  height: 250px;
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-style: italic;
  cursor: pointer;
}

.gerald-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}




@media (max-width: 850px){
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }



  .about-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  .about-image {
    display: flex;
    justify-content: center;
  }

  .image-placeholder {
    width: 250px;
    height: 250px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-style: italic;
  }

  .gerald-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }

}