
.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.contact-info h3 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.contact-details {
  margin: 25px 0;
}

.contact-details p {
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #2c3e50;
}

.contact-form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.486);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: inherit;
}

.submit-button {
  background-color: #2772a3;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #2f99df;
}



@media (max-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .contact-form {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.486);
  }
}