

.header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2rem;
}

.header p {
  font-size: 1rem;
  opacity: 0.8;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.header nav ul :hover {
  background-color: rgba(82, 47, 163, 0.5);
  transition: 100ms;

}

.header nav ul li {
  margin-left: 20px;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header nav ul li a:hover {
  opacity: 1;
}

@media (max-width: 850px) {

  .header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  justify-content: center;
  width: 100%;
  top: 0;
  position: fixed;
 }

 .container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  font-size: 2rem;
  padding: 0 20px 20px 20px;
}

.header p {
  font-size: 1rem;
  opacity: 0.8;
}

.header nav ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

.header nav ul :hover {
  background-color: rgba(82, 47, 163, 0.76);
  transition: 100ms;

}

.header nav ul li {
  margin-left: 20px;
  padding: 5px;
  border-radius: 40px;
  cursor: pointer;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header nav ul li a:hover {
  opacity: 1;
}


}