
.hero {
  background: linear-gradient(135deg, #3498db, #2c3e50);
  color: white;
  padding: 150px 0 100px;
  text-align: center;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 30px;
}

.cta-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #c0392b;
}


@media (max-width: 850px) {

  .hero {
    background: linear-gradient(135deg, #3498db, #2c3e50);
    color: white;
    padding: 150px 0 100px;
    text-align: center;
    margin-top:80px ;
  }

  .hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
  }

  .cta-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cta-button:hover {
    background-color: #c0392b;
  }

}